* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  height: 100%;
}

ul {
  list-style: none;
}

/* utilities */
.c-pointer {
  cursor: pointer;
}

.active {
  transition: all .5s;
}

/* slide */
.slide {
  margin-top: 50px;
}

.slide .slide-thumb {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.slide .slide-thumb li {
  --width: 35px;
  flex-basis: var(--width);
  border-radius: 50%;
  height: var(--width);
  overflow: hidden;
  opacity: .5;
  border: 5px solid transparent;
}

.slide .slide-thumb li.active
{
  --width: 35px;
  flex-basis: var(--width);
  height: var(--width);
  opacity: 1;
  border: none;
}

.slide .slide-thumb img {
  object-position: center;
  object-fit: cover;
}

.slide .slide-images {
  height: 600px;
  display: flex;
  gap: 150px;
  flex-wrap: nowrap;
  overflow-x: auto;
  align-items: center;
  padding-bottom: 20px;
  padding-left: calc((100% - 800px) / 2);
}

.slide .slide-images .item {
  width: 600px;
  max-width: 100%;
  flex-shrink: 0;
  height: 400px;
  border-radius: 6px;
  overflow: hidden;
  opacity: .4;
}

.slide .slide-images .item.active {
  opacity: 1;
  width: 800px;
  height: 500px;
  /* fles */
}

.slide .slide-images .item img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
